<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups><run>
		  <include name="groupoflogin"></include>
		   <include name="sitegroup"></include>
		    <include name="3rdgroup"></include>
		    <include name="grouplast"></include>
	  </run></groups>
    <classes>
      <class name="Framework.TestNG2.NG2class"/>
      <class name="Framework.TestNG2.NG2class3"/>
      <class name="Framework.TestNG2.NG2class2"/>
      <class name="Framework.TestNG2.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
